<div
  class="w-full h-full flex flex-col gap-y-4 border border-gray-500/50 rounded-md relative hover:shadow-lg transition duration-200"
>
  <a
    class="w-full h-full group/image flex items-center justify-center"
    [routerLink]="['/products', product.id]"
  >
    <div class="absolute top-2 right-2">
      <p
        class="bg-orange-500 rounded-md text-white text-[0.7rem] px-1.5 py-0.5"
      >
        -25%
      </p>
    </div>
    <div class="w-1/2 mx-auto h-44 relative">
      <img
        class="w-full object-contain group-hover/image:scale-110 transition duration-200 py-6"
        ngSrc="{{ product.image }}"
        alt="{{ product.title }} product image"
        fill
      />
    </div>
  </a>

  <div
    class="h-full flex flex-col justify-between gap-y-1 border-t border-gray-500/20 p-4"
  >
    <p class="text-xs text-pretty font-medium text-gray-500">
      {{ product.category | wordcase }}
    </p>
    <h2 class="text-sm text-pretty font-semibold">
      {{ product.title | titlelimit }}
    </h2>
    <div class="flex flex-wrap items-center gap-x-2">
      <p class="text-sm text-pretty text-gray-500 line-through">
        {{ product.price | oldprice | number : "1.2-2" }} €
      </p>
      <p class="text-sm text-pretty text-blue-500 font-bold">
        {{ product.price | number : "1.2-2" }} €
      </p>
    </div>
    @if (!inCartHandler(product)) {
    <button
      class="w-full flex items-center justify-center px-2 py-1.5 rounded-md border border-blue-500 mt-6 hover:bg-blue-500 hover:text-white transition duration-200"
      (click)="addToCartHandler(product)"
    >
      <span class="text-sm text-pretty">Add to cart</span>
    </button>
    } @else {
    <div class="w-fit h-fit flex items-center mt-4">
      <button
        class="text-black/90 bg-gray-100 border border-gray-200 w-8 h-8 rounded-full hover:bg-white transition duration-200"
        (click)="decreaseQuantityHandler(getMatchedProductHandler(product))"
      >
        <i class="fa-solid fa-minus text-xs"></i>
      </button>
      <p class="text-sm text-black/90 py-1.5 px-4">
        {{ getMatchedProductHandler(product).quantity }}
      </p>
      <button
        class="text-black/90 bg-gray-100 border border-gray-200 w-8 h-8 rounded-full hover:bg-white transition duration-200"
        (click)="increaseQuantityHandler(getMatchedProductHandler(product))"
      >
        <i class="fa-solid fa-plus text-xs"></i>
      </button>
    </div>
    }
  </div>
</div>
