<div class="lg:max-w-5xl mx-auto flex flex-row gap-x-4 mt-20">
  <div class="w-1/2 flex flex-col gap-y-6 justify-center items-start">
    @for (product of $cartProducts(); track product.id) {
    <div class="w-full flex flex-row items-center">
      <div class="w-full flex flex-col items-center justify-center">
        <img
          class="w-24 object-contain"
          src="{{ product.image }}"
          alt="{{ product.title }} image"
        />
      </div>
      <div class="w-full flex flex-col items-start justify-start">
        <div class="flex flex-col gap-y-6 p-4">
          <h2 class="text-2xl text-pretty font-bold">
            {{ product.title | titlelimit }}
          </h2>

          <div class="flex items-center gap-x-2">
            <p class="text-sm text-gray-500 line-through">
              {{ product.price | oldprice | number : "1.2-2" }} €
            </p>
            <p class="text-sm text-blue-500 font-bold">
              {{ product.price | number : "1.2-2" }} €
            </p>
          </div>

          <p class="text-sm text-pretty font-medium text-black/90">
            {{ product.category | wordcase }}
          </p>
        </div>
      </div>
    </div>

    }
  </div>
</div>
