<footer
  class="w-full h-fit bg-gray-100 flex flex-col justify-center items-center mt-20 p-10 gap-y-4"
>
  <a [routerLink]="['/products']">
    <img
      ngSrc="full-logo.svg"
      class="w-36"
      alt="WearAPair logo"
      width="300"
      height="66"
  /></a>
  <div class="flex items-center gap-x-1 text-gray-500 text-xs text-pretty">
    Diseñado y desarrollado con
    <i class="fa-solid fa-heart text-blue-500"></i> por
    <a
      class="hover:text-blue-500 transition duration-200 font-medium"
      href="https://arnausaborit.com"
      target="_blank"
      rel="noopener noreferrer"
      >arnausaboritcode</a
    >
  </div>
</footer>
