<div class="w-full fixed top-0 z-10">
  <div class="w-full h-8 bg-black/90 px-10">
    <div
      class="lg:max-w-5xl h-full mx-auto flex items-center justify-start gap-x-2"
    >
      <i class="fa-solid fa-truck text-yellow-500"></i>
      <p class="text-xs text-white font-medium">
        FREE Express Shipping this Week
      </p>
    </div>
  </div>
  <nav class="w-full border-b border-gray-700 py-2.5 px-10 bg-white">
    <div class="lg:max-w-5xl mx-auto h-14 flex items-center justify-between">
      <a [routerLink]="['/products']">
        <img src="logo.svg" class="w-32" alt="Logo"
      /></a>

      <form class="w-2/3 relative group hidden md:block">
        <input
          #searchInput
          type="search"
          id="search"
          name="search"
          autocomplete="off"
          class="block w-full px-2 ps-4 py-1.5 text-sm text-black/90 border-[1.5px] border-blue-500 placeholder:text-black/55 focus:outline-none focus:ring-0"
          placeholder="Search products here..."
          [(ngModel)]="this.query"
          (input)="subscribeToInputChanges()"
          (focus)="showSearchResults = true"
          (blur)="onBlur()"
        />
        <div
          class="absolute inset-y-0 end-0 flex items-center pointer-events-none bg-blue-500 p-3"
        >
          <i class="fa-solid fa-magnifying-glass text-xs text-white"></i>
        </div>

        @if (showSearchResults) {
        <div
          class="absolute z-20 left-0 top-10 w-full mx-auto h-auto max-h-96 bg-white rounded-md shadow-md text-black"
          [ngClass]="{
            'overflow-y-scroll':
              this.$searchResults() && this.$searchResults()!.length > 12
          }"
        >
          @for (product of $searchResults(); track product.id) {

          <div class="flex flex-col">
            <a
              class="flex items-center gap-x-2 text-sm text-gray-500 px-3 py-1.5 hover:bg-gray-400/30"
              [routerLink]="['/products', product.id]"
              (click)="searchResultsUpdate(product)"
            >
              {{ product.title }}</a
            >
          </div>
          } @empty { @if(this.query) {
          <p class="text-sm font-medium px-3 py-1.5">
            No results found for
            <span class="underline underline-black">{{ this.query }}</span>
          </p>
          } }
        </div>
        }
      </form>
      <div class="flex items-center gap-x-6">
        <div class="block md:hidden">
          <button (click)="showMobileNav = !showMobileNav">
            @if(showMobileNav) {
            <i class="fa-solid fa-xmark text-xl text-black/90"></i>
            } @else {
            <i class="fa-solid fa-magnifying-glass text-lg text-black/90"></i>
            }
          </button>
        </div>
        <button [routerLink]="['/cart']">
          <i class="fa-solid fa-bucket text-xl relative">
            <span
              class="absolute z-10 w-4 h-4 flex items-center justify-center bg-blue-500 text-white p-1 text-[0.5rem] font-bold rounded-full -top-1 -right-2"
              >{{ $cartItemsCount() }}</span
            >
          </i>
        </button>
      </div>
      @if(showMobileNav) {
      <div
        class="absolute -z-10 left-0 top-0 w-dvw h-dvh mx-auto backdrop-blur-sm bg-[hsla(0,0%,7%,.36)] text-black px-6"
      >
        <div class="relative top-32">
          <input
            #searchInput
            type="search"
            id="search"
            name="search"
            autocomplete="off"
            class="block w-full px-2 ps-4 py-1.5 text-sm text-black/90 border-[1.5px] border-blue-500 placeholder:text-black/55 focus:outline-none focus:ring-0"
            placeholder="Search products here..."
            [(ngModel)]="this.query"
            (input)="subscribeToInputChanges()"
            (focus)="showMobileSearchResults = true"
            (blur)="onBlur()"
          />
          <div
            class="absolute top-0 inset-y-0 end-0 flex items-center pointer-events-none bg-blue-500 p-3"
          >
            <i class="fa-solid fa-magnifying-glass text-xs text-white"></i>
          </div>

          @if (showMobileSearchResults) {
          <div
            class="absolute left-0 top-10 w-full h-auto z-20 mx-auto text-black rounded-md shadow-md bg-white overflow-y-scroll"
          >
            @for (product of $searchResults(); track product.id) {

            <div class="flex flex-col">
              <a
                class="flex items-center gap-x-2 text-sm text-gray-500 px-3 py-1.5 hover:bg-gray-400/30"
                [routerLink]="['/products', product.id]"
                (click)="searchResultsUpdate(product)"
              >
                {{ product.title }}</a
              >
            </div>
            } @empty { @if(this.query) {
            <p class="text-sm font-medium px-3 py-1.5">
              No results found for
              <span class="underline underline-black">{{ this.query }}</span>
            </p>
            } }
          </div>
          }
        </div>
      </div>
      }
    </div>
  </nav>
</div>
