<div class="w-full h-8 bg-black/90">
  <div class="lg:max-w-5xl h-full mx-auto flex items-center justify-start">
    <p class="text-xs text-white font-medium">Created by arnausaboritcode</p>
  </div>
</div>
<div class="w-full border-b border-gray-700 py-1.5">
  <div class="lg:max-w-5xl mx-auto h-14 flex items-center justify-between">
    <a routerLinkActive="router-link-active">
      <!-- <img src="assets/icons/logo.svg" class="h-6 mx-6" alt="Popcorn Logo"
  /> --></a
    >

    <form class="w-2/3 relative group">
      <input
        type="search"
        id="search"
        name="search"
        autocomplete="off"
        class="block w-full px-2 ps-4 py-1.5 text-sm text-black/90 border-[1.5px] border-blue-500 placeholder:text-black/55 focus:outline-none focus:ring-0"
        placeholder="Search products here..."
        [(ngModel)]="this.query"
        (input)="subscribeToInputChanges()"
      />
      <div
        class="absolute inset-y-0 end-0 flex items-center pointer-events-none bg-blue-500 p-3"
      >
        <i class="fa-solid fa-magnifying-glass text-xs text-white"></i>
      </div>
      <div
        class="absolute z-10 left-0 top-10 w-full mx-auto h-auto max-h-96 bg-white rounded-md shadow-md text-black hidden group-focus-within:block"
        [ngClass]="{
          'overflow-y-scroll':
            this.$searchResults() && this.$searchResults()!.length > 12
        }"
      >
        @for (product of $searchResults(); track product.id) {

        <div class="flex flex-col">
          <a
            class="flex items-center gap-x-2 text-sm text-gray-500 px-3 py-1.5 hover:bg-gray-400/30"
            [routerLink]="['/products', product.id]"
          >
            {{ product.title }}</a
          >
        </div>
        } @empty { @if(this.query) {
        <p class="text-sm font-medium px-3 py-1.5">
          No results found for
          <span class="underline underline-black">{{ this.query }}</span>
        </p>
        } }
      </div>
    </form>
    <button [routerLink]="['/cart']">
      <i class="fa-solid fa-bucket text-xl relative">
        <span
          class="absolute z-10 w-4 h-4 flex items-center justify-center bg-blue-500 text-white p-1 text-[0.5rem] font-bold rounded-full -top-1 -right-2"
          >{{ $cartItemsCount() }}</span
        >
      </i>
    </button>
  </div>
</div>
