<div class="w-full fixed top-0 z-50">
  <div class="w-full h-8 bg-black/90 px-10">
    <div
      class="lg:max-w-5xl h-full mx-auto flex items-center justify-start gap-x-2"
    >
      <i class="fa-solid fa-truck text-yellow-500 text-sm"></i>
      <p class="text-xs text-pretty text-white/90 font-medium">
        FREE Express Shipping this Week
      </p>
    </div>
  </div>
  <nav class="w-full border-b border-gray-700 py-2.5 px-6 bg-white">
    <div class="lg:max-w-5xl mx-auto h-14 flex items-center justify-between">
      <a [routerLink]="['/products']">
        <img
          ngSrc="full-logo.svg"
          class="w-44"
          alt="WearAPair logo"
          width="300"
          height="57"
          priority
      /></a>

      <form class="w-2/3 relative group hidden md:block">
        <input
          type="search"
          id="search"
          name="search"
          autocomplete="off"
          class="block w-full px-2 ps-12 py-1.5 text-sm text-black/90 border-[1.5px] border-blue-500 placeholder:text-black/55 focus:outline-none focus:ring-0"
          placeholder="Search products here..."
          [(ngModel)]="this.query"
          (input)="subscribeToInputChanges()"
          (focus)="showSearchResults = true"
          (blur)="onBlur()"
        />
        <div
          class="absolute inset-y-0 start-0 flex items-center pointer-events-none bg-blue-500 p-3"
        >
          <i class="fa-solid fa-magnifying-glass text-xs text-white"></i>
        </div>

        @if (showSearchResults) {
        <div
          class="absolute z-20 left-0 top-10 w-full mx-auto h-auto max-h-96 bg-white rounded-md shadow-md text-black"
          [ngClass]="{
            'overflow-y-scroll':
              this.$searchResults() && this.$searchResults()!.length > 12
          }"
        >
          @for (product of $searchResults(); track product.id) {

          <div class="flex flex-col">
            <a
              class="flex items-center gap-x-2 text-sm text-pretty text-gray-500 px-3 py-1.5 hover:bg-gray-200"
              [routerLink]="['/products', product.id]"
              (click)="searchResultsUpdate()"
            >
              <i
                class="fa-solid fa-magnifying-glass text-[0.6rem] text-gray-500"
              ></i>
              {{ product.title }}</a
            >
          </div>
          } @empty { @if(this.query) {
          <p class="text-sm font-medium px-3 py-1.5">
            No results found for
            <span class="underline underline-black">{{ this.query }}</span>
          </p>
          } }
        </div>
        }
      </form>
      <div class="flex items-center gap-x-6">
        <div class="block md:hidden">
          <button (click)="showMobileNav = !showMobileNav">
            <i class="fa-solid fa-magnifying-glass text-lg text-black/90"></i>
          </button>
        </div>
        <button [routerLink]="['/cart']">
          <i class="fa-solid fa-bucket text-xl relative">
            <span
              class="absolute z-10 w-4 h-4 flex items-center justify-center bg-blue-500 text-white p-1 text-[0.5rem] font-bold rounded-full -top-1 -right-2"
              >{{ $cartItemsCount() }}</span
            >
          </i>
        </button>
      </div>
      @if(showMobileNav) {
      <div
        class="absolute z-10 left-0 top-0 w-dvw h-dvh mx-auto bg-white text-black"
      >
        <div
          class="w-full h-20 flex flex-col items-center justify-center py-2.5 px-6 border-b border-gray-500"
        >
          <div
            class="w-full h-fit flex items-center justify-center gap-x-6 relative"
          >
            <input
              #searchInput
              type="search"
              id="search"
              name="search"
              autocomplete="off"
              class="block w-full px-2 ps-12 py-1.5 text-sm text-black/90 border-[1.5px] border-blue-500 placeholder:text-black/55 focus:outline-none focus:ring-0"
              placeholder="Search products here..."
              [(ngModel)]="this.query"
              (input)="subscribeToInputChanges()"
              (focus)="showMobileSearchResults = true"
            />
            <div
              class="absolute top-0 inset-y-0 start-0 flex items-center pointer-events-none bg-blue-500 p-3"
            >
              <i class="fa-solid fa-magnifying-glass text-xs text-white"></i>
            </div>
            <button (click)="showMobileNav = !showMobileNav">
              <i class="fa-solid fa-xmark text-2xl text-black/90"></i>
            </button>
          </div>
        </div>
        @if (showMobileSearchResults) {
        <div
          class="w-full h-dvh z-20 mx-auto text-black overflow-y-scroll py-2"
        >
          @for (product of $searchResults(); track product.id) {

          <div class="flex flex-col">
            <a
              class="flex items-center gap-x-2 text-sm text-gray-500 text-pretty px-3 py-1.5 hover:bg-gray-200"
              [routerLink]="['/products', product.id]"
              (click)="searchResultsUpdate()"
            >
              <i
                class="fa-solid fa-magnifying-glass text-[0.6rem] text-gray-500"
              ></i>
              {{ product.title }}</a
            >
          </div>
          } @empty { @if(this.query) {
          <p class="text-sm font-medium px-3 py-1.5">
            No results found for
            <span class="underline underline-black">{{ this.query }}</span>
          </p>
          } }
        </div>
        }
      </div>
      }
    </div>
  </nav>
</div>
